<a href="/">Home</a>

<h1>Welcome to the club, {{username}}</h1>

<p>
    You will see blog posts below, and be able to create one as well.
</p>

{{!-- todo --}}
{{!-- {{#each tweets}}
<div class="card">
    <h3><a href="/tweets/{{id}}">{{id}}. {{name}} by {{user.name}}</a></h3>
    <h5>Created on: {{date_created}} needs ${{needed_funding}}.00</h5>
    <p>{{description}}</p>
    <hr>
</div>
{{/each}} --}}


